#cityName{
    letter-spacing: 10px;
}
#theBandContainer{
    text-align: center;
    padding: 100px;
    margin: 0 20%;
}
#theBandContainer h5{
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#theBandContainer small{
    font-style:italic;
}
#cityImageBand{
    max-height: 100%;
    max-width: 100%;
    border-radius: 100px;
}
.col-lg-4 .text-center h6{
    margin:50px;
}

#tourDates{
    text-align: center;
    padding: 100px;
    background-color: black;
    width: 100%;
    color:white;
}
#tourDates h5{
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tourDates small{
    font-style:italic;
}
.col div{
    margin-top: 10px;
    padding: 10px;
    background:white;
    text-align: left;
    font-style: italic;
    color:grey
}
.col div p small{
    background:red;
    color:white;
    font-weight: 600;
    padding: 5px;
    border-radius: 5%;
}
.card-title{
    font-style: italic;
    text-align: center;
}
.card-text{
    font-style: italic;
    text-align: center;
}
#info{
    color:grey;
    padding-top: 50px;
    max-width: fit-content;
    float:right;
    margin-right: 100px;
}

#contact{
    text-align: center;
    padding: 70px;
    width: 100%;
}

#contact h5{
    letter-spacing: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#contact small{
    font-style:italic;
}

footer{
    background-color: black;
    color:white;
    width: 100%;
    min-height:100px;
    padding: 70px;
    border-color: white;
    border-width: 3px;
    border-style: dashed;
}

#ourContact h6{
    font-style: italic;
    color:white;
    
}

a{
    margin-right: 10px;
}

a :visited { color: gray; }
a :focus { color: white; background-color: grey; }
a :hover { color: white; background-color: grey; }
a :active { color: red; background-color: white; }